body{
	color: #00156b;
	background: #fff;
}
a:link{
	text-decoration: none;
}

.navbar-nav li a:hover, .navbar-nav li.active a, th{
    color: #fff;
    background-color: #00156b;
}

.jumbotron{ 
    color: #ffffff;
	font-family: 'Ubuntu Condensed', sans-serif;
	background-color: #00092C;
	background-image: url("bg2.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding: 8%;
}

h1, h2{
	font-family: 'Ubuntu Condensed', sans-serif;
}

h2{
	font-size: 3em;
}
h3{
    color: 	#00156b;
}

.jumbotron h1{
	font-size: 4em;
	font-size: 4vw;
	color: #fff;
}

.jumbotron h2{
	color: #6083ff;
	font-size: 4em;
	font-size: 4vw;
}

.bigx{
	font-size: 16em;
	font-size: 16vw;
	line-height: 100%;
}

.jumbotron p{
	font-size: 2.5em;
	font-size: 3vw;
}

.subtitle{
	padding: 0 0 0 5%;
}

.jumbotron .col-xs-2{
	padding-right: 0; 
}

@media screen and (max-width: 768px) {
	.bigx{
		font-size: 7.5em;
		line-height: 120%;
	}
	.jumbotron h1{
		font-size: 2em;
		padding: 0 0 0 5px;
	}
	.jumbotron h2{
		font-size: 2em;
	}
	.jumbotron p{
		font-size: 1.5em;
	}
	.jumbotron .col-xs-5{
		padding-left: 10px; 
	}
	.subtitle{
		padding: 0 0 0 3%;
	}
}

#panels, #workshops, footer, #scientific-committee{
	background: #00092C;
}

#panels h2, #workshops h2, footer, #scientific-committee h2{
	color: #fff;
}

.well{
	background: #fff;
	height: 100%;
	margin: 5% 0;	 
}

.item{
	background: #fff;
	padding: 5% 10% 10% 10%;
}
.item p{
	text-align: justify;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #001f8d;
}

.carousel-control.left .glyphicon, .carousel-control.right .glyphicon {
    top: 0;
    margin-top: 150px;
}

.carousel-indicators li {
    border-color: #001f8d;
}

.carousel-indicators li.active {
    background-color: #001f8d;
}

.row.is-flex{
  display: flex;
  flex-wrap: wrap;
  
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.container-fluid{
    padding: 4% 10%;
}

.withlogo img{
	margin: 2%;
	object-fit: contain;
	max-height: 130px;
	width: auto;
}

.withlogo .glyphicon{
	font-size: 50px;
	color: #001f8d;
}

#start .glyphicon{
	font-size: 150px;
	color: #001f8d;
	margin: 10% 0;
}
.people .glyphicon{
	font-size: 100px;
	color: #001f8d;
}

th{
	text-align: center;
}
td{
	min-width: 110px;
	text-align: left;
}
@media screen and (min-width: 768px) {
	.navbar-nav>li {
    float: left;
	}
}
#upButton{
    position: fixed;	
    bottom: 20px;
    right: 30px;
    z-index: 100;
}

#news h2, #news h3, #news h4, #faq h4{
	text-align: center;
}

#news .newsy, #faq .newsy{
	text-align: justify;
	padding: 0;
}

#news #newsdiv{
	text-align: justify;
	padding: 0 0 3% 0;
}

.info{
	font-style: italic;
}

form #comment{
	overflow: hidden;
}

.fa {
    font-size: 40px;
    text-decoration: none;
	color: #fff;
	padding-bottom: 3%;
}
.fa:hover{
	color: #cbdaf2;
}

.well {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}