$decor_font: 'Ubuntu Condensed', sans-serif;

h1{
	font-family: $decor_font;
}

h2{
    font-family: $decor_font;
    font-size: 3em;
}

h3{
    color: 	$primary_color;
}

a:link{
	text-decoration: none;
}